<!DOCTYPE html>
<!-- version: {{ app.version }} -->
<html>
{% spaceless %}
<head>
  {% if app.environment == 'production' %}
  {% include 'widget_googleanalytics_ab.html.twig' %}
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}{{ title|default('') }}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" type="image/x-icon" href="/favicon.png" />

  <link rel="stylesheet" type="text/css" href="/assets/page-{{ pageName }}.css?v={{ app.version }}">

  <link href='http://fonts.googleapis.com/css?family=PT+Sans|Exo+2|Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css' media='all' />
</head>
{% endspaceless %}
<body id="page-{{ pageName }}" class="{{ pageClass|default('') }}">
  <div id="epam-logo-bg"></div>
  <i class="icon christmas-tree"></i>

  <div class="wrapper">
    {% block content %}{% endblock %}
  </div>

  {% spaceless %}
    <script type="text/javascript" src="/assets/app.js?v={{ app.version }}"></script>
  {% endspaceless %}
</body>
</html>